.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #111;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .logo {
    width: 100px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-icon {
    color: white;
    font-size: 20px;
    margin-right: 10px;
  }
  
  .search-input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: white;
  }